[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==5.1.4"
django-autocomplete-light = "==3.11.0"
django-select2 = "==8.0.0"
psycopg2-binary = "==2.9.10"
sqlparse = "==0.5.3"
gunicorn = "==21.2.0"
whitenoise = "==6.6.0"
dj-database-url = "==2.1.0"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.12"
