
.dashboard-teams-container {
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    justify-items: flex-start;
    width: 30%;
    border: 5px solid yellow;
}

.teams-columnizer {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    /* border: 5px solid purple; */
}

.team-coach, .team-name, .team-details-link {
    display: flex;
    padding-right: 25px;
    align-items: center;
    justify-items: left;
    /* border: 3px solid white; */
    
    
    
}

.dashboard-times-container {
    display: flex;
    flex-direction: column;   
    width: 30%;
    border: 5px solid yellow;
    /* margin-right: 25%; */
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

.dashboard-head {
    display: flex;
    justify-content: center;
    align-items: center;
}