.welcome-blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid blue;
    text-align: center;
}

.login-signup-links {    
    text-align: right;    
    border: 5px solid red;
}

.login, .signup {
    margin: 5px 15px;
}