{% extends 'base.html' %} {% load static %} {% block head %}
<title>ESTT - Edit Time</title>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
{% endblock %} {% block content %}
<div class="container text-white">
  <h2>Update Time</h2>
  {% if error_message %}
  <div class="alert alert-danger" role="alert">{{ error_message }}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">{{ form.as_p }}</div>
    <div class="d-flex gap-3">
      <button type="submit" class="btn btn-primary">Update Time</button>
      <a href="{% url 'dashboard' %}" class="header-btn">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}