{% extends "base.html" %} {% block head %}
<title>ESTT - Edit Profile</title>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
{% endblock %} {% block content %}
<div class="container text-white">
  <h2>Edit Profile</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">{{ form.as_p }}</div>
    <button type="submit" class="btn btn-primary mb-4">Save Changes</button>
  </form>
  <div>
    <a href="{% url 'dashboard' %}" class="btn btn-warning mb-4">Cancel</a>
  </div>
  <form method="get" action="{% url 'deactivate_account' %}">
    <button type="submit" class="btn btn-danger mb-4">Deactivate Account</button>
  </form>
  
</div>
{% endblock %}