{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script>
        function joinOrganization() {
            // Get the value from the input field
            var joinCode = document.getElementById('join-code').value;
            // Construct the URL with the join code
            var url = "{% url 'create-org-user' join_code='PLACEHOLDER' %}".replace('PLACEHOLDER', joinCode);
            // Redirect to the constructed URL
            window.location.href = url;
        }
    </script>
{% endblock %} 

{% block content %}
<div>
    <label for="join-code">Join Code</label>
    <input type="text" name="join-code" id="join-code">
</div>
<div>
    <button class="btn btn-primary" onclick="joinOrganization()">Join Org</button>    
</div>
{% endblock %}