{% extends 'base.html' %} {% load static %} {% block head %}
<title>ESTT - Create Team</title>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
{% endblock %} {% block content %}
<div class="container text-white">
  <h2>Start A New Team</h2>
  {% if error_message %}
  <div class="alert alert-danger" role="alert">{{ error_message }}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">{{ form_one.as_p }}</div>
    <div class="form-group">{{ form_two.as_p }}</div>
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-primary">Create Team</button>
      <a href="{% url 'dashboard' %}" class="btn btn-secondary">Nevermind</a>
    </div>
  </form>
</div>
{% endblock %}