{% extends "base.html" %}

{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>E-sports Team Tracker</title>
</head>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="text-center" style="max-width: 800px;">
        <div class="login-signup-links mb-4">
            <nav class="d-flex justify-content-center">
                <a class="btn text-white border-white home-btn" href="{% url 'login' %}">Login</a>
                <a class="btn text-white border-white home-btn" href="{% url 'signup' %}">Sign Up</a>
            </nav>
        </div>
        
        <div class="logo-div mb-4">
            <img class="logo-image img-fluid" src="{% static '/images/esttLogo.png' %}" alt="E-sports Team Tracker Logo">
        </div>
        
        <div class="welcome-blurb">
            <h2 class="mb-4">Welcome to E-sports Team Tracker</h2>
            <p class="mb-4">Welcome to the best place to track your E-sports team data. You can track data across multiple teams and their various games that are all a part of your organization. Join today to start tracking and help your team achieve new goals and heights with greater insights.</p>
            
            <p>To sign up click <a class="blurb-links mx-1" href="{% url 'signup' %}">here</a> or if you already have an account you can login <a class="blurb-links mx-1" href="{% url 'login' %}">here</a></p>
        </div>
    </div>
</div>
{% endblock %}
